#header{
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  position: relative;
  font-family: verdana;
}

#vizcontainer{
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 784px;
  position: relative;
}

#first, #second {
  left: 0px;
  width: 34px;
  position: absolute;
  background: #6B0707;
  background: -moz-linear-gradient(left, #6B0707 0%, #96161C 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#6B0707), color-stop(100%,#96161C));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6B0707', endColorstr='#96161C',GradientType=1 );
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  height: 784px;
}

#definitions {
  left: 0px;
  width: 34px;
  position: absolute;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  height: 784px;
}

#second {
  left: 408px;
}

#lines {
  left: 36px;
  position: absolute;
  margin-top: 3px;
  margin-bottom: 3px;
}

.tilewrapper {
  position: relative;
  height: 30px;
}

.arrow {
  position: absolute;
  left: 3px;
  top: 12px;
  width: 8px;
  height: 8px;
  background: #6B0707;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
}

.tile {
  left: 0px;
  height: 27px;
  width: 27px;
  margin: 3px;
  text-align: center;
  vertical-align: middle;
  background: url(tile-bg.png) no-repeat;
  font-family: 'Inconsolata', arial, serif;
  position: absolute;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: 1px 1px 0px #a9957b;
  -moz-box-shadow: 1px 1px 0px #a9957b;
  box-shadow: 1px 1px 0px #a9957b;
  cursor: pointer;
}

.tile-off{
  background: url(tile-bg-off.png) no-repeat;
}

.tile .letter {
  font-weight: normal;
  font-size: 20px;
  position: absolute;
  left: 6px;
  top: 1px;
}

.tile .value {
  position: absolute;
  font-size: 12px;
  font-weight: normal;
  bottom: 1px;
  right: 3px;
  letter-spacing: -2px;
}

#definitions {
  left: 445px;
  width: 500px;
  position: absolute;
  margin-bottom: 3px;
}

.definitionslot {
  left: 0px;
  height: 30px;
  font-family: verdana;
}

.definition {
  position: relative;
}

.definition .text {
  left: 75px;
  position: absolute;
  width: 400px;
  line-height: 12px;
  margin: 3px;
}

.text .pos {
  font-style: italic;
  color: #999999;
  font-size: 8pt;
  line-height: 9pt;
}

.text .def{
  font-size: 9pt;
  line-height: 9pt;
}

.deftile1 {
  left: 0px;
}

.deftile2 {
  left: 30px;
}

.defwrapper {
  position: absolute;
  height: 33px;
  width: 64px;
  background-color: #6B0707;
  left: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}